
/* font style */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


body {
    color: #0D1321;
    font-family: "Azeret Mono", monospace;
}
 
/* share style */
.description-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

.learn-more-btn {
    width: 159px;
    height: 48px;
    font-size: 20px;
    opacity: 0.7;
 }



/* hero section Start */
.hero-section{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: cover;
    max-width: 1440px;
    max-height: 652px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.text-content{
    width: 998px;
    height: 310;
    padding: 26px 221px 44px 221px;
    height: 310;

}

.hero-title {
    font-size: 45px;
    font-weight: 900;
}

.bontact-btn{
    background-color: #0D1321;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    width: 208px;
    height: 66px;
    border-radius: 8px;
    padding: 21px 24px;
}

/* hero section end */


/* Why Web Development Section Start  */
.development-container{
    background-color: rgba(13, 19, 33, 0.02);
    width: 1140px;
    height: 1395px;
    border-radius: 16px;
    margin: 80px auto;
    padding-top: 1px;
 }

 .development-content{
    width: 946px;
    height: auto;
    margin: 80px auto;
    text-align: center;
 }

 
 .development-title{
    font-size: 32px;
    font-weight: 800;
 }

 .text-area{
    color: rgba(13, 19, 33, 0.7);
    font-weight: 700;
    margin: 48px;
 }

 .img-area{
    color: rgba(13, 19, 33, 0.7);
    font-weight: 700;
    margin: 48px;
 }

 .development-column-one {
    display: flex;

 }
 .development-column-two {
    display: flex;

 }

.development-column-three {
   display: flex;

}

.development-column-one {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 18%, rgba(250,250,251,1) 100%);
    border-radius: 16px;
    width: 946px;
    height: 336px;
    margin: auto;
 }

 .development-column-two{
    background: linear-gradient(90deg, rgba(250,250,251,1) 0%, rgba(255,255,255,1) 58%, rgba(255,255,255,1) 100%);
    border-radius: 16px;
    width: 946px;
    height: 336px;
    margin: 32px auto;
 }

 .development-column-three {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(254,254,254,1) 18%, rgba(250,250,251,1) 100%);
    border-radius: 16px;
    width: 946px;
    height: 336px;
    margin: 32px auto;
}

/* Why Web Development Section end  */

/* Inspiration Section Start */

.inspiration-container{
    max-width: 1140px;
    height: 777px;
    text-align: center;
    margin: 80px auto;
 }
 
 .inspir-video{
    width: 1140px;
    height: 614px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 30px 0px 0px 0px ;
 }
 
 /* inspiration Section end */


 /* my current target start */
 
.current-target-text-container{
    background-color: green;
    width: 1140px;
    height: 460px;
    margin: 150px auto;
    border: 3px solid red;
    text-align: center;
 }



  /* my current target end */